
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    height:7rem;
    width: 100rem;
    background-color: rgb(159, 51, 60);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-text {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

#introinfo{
    display: flex;
    height:15rem;
    width: 60rem;
    background-color: rgb(155, 230, 173);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 1rem;
    border-radius: 5rem;


}

#introinfo p {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

.menu-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.menu-item p {
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
}


#aboutPage {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

#aboutPage h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#aboutPage h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #555;
}

#aboutPage p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

img {
    width: 20rem;
    max-width: 500px;
    height: 20rem;
    border-radius: 10px;
}

#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}